#header {
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2d2e3273;
  border: 1px solid #2d2e3240;
  box-shadow: 0 0 10px 1px #00000040;
  backdrop-filter: blur(15px);
  color: #fefefe;
  position: sticky;
  z-index: 1;
  top: 0;
  left: 0;
  margin: 0;
}

.navbar-title {
  display: flex;
  align-items: center;
}

.title-first-name {
  padding: 0 7.5px;
  font-weight: 600;
  color: #fefefe;
  font-family: "Raleway", sans-serif;
  font-size: 24px;
}

.navbar-menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-menu li {
  list-style: none;
  padding: 0 20px;
  position: relative;
}

.navbar-menu .active {
  color: #64f4ac;
  font-weight: 900;
}

.navbar-menu li a {
  color: #fefefe;
  text-decoration: none;
  font-size: 15px;
  font-weight: 600;
  transition: 0.3s ease;
}

.navbar-menu li a:hover {
  color: #64f4ac;
  font-weight: 900;
}

.social-media {
  display: flex;
  align-items: center;
}

.social-media li {
  display: flex;
  padding: 0 16px;
  align-items: center;
  list-style: none;
}

.social-media li i {
  font-size: 14px;
  transition: 0.3s ease;
}

.social-media li a {
  color: #fefefe;
  text-decoration: none;
  cursor: pointer;
  padding: 0 5px;
  font-size: 15px;
  transition: 0.3s ease;
}

.social-media li:nth-child(1):hover i {
  color: #0077b5;
}

.social-media li:nth-child(4):hover i {
  color: #64f4ac;
}

.social-media li:nth-child(3):hover i {
  color: #ea4335;
}

.social-media li:hover a {
  font-weight: 800;
}

@media (max-width: 768px) {
  #header {
      padding: 10px 20px;
      justify-content: center;
      flex-direction: column;
  }

  .title-first-name {
      font-size: 30px;
      margin-top: 10px;
  }

  .navbar-menu {
      margin-top: 30px;
  }

  .navbar-menu li {
      padding: 10px 0;
  }

  .social-media {
      margin-top: 20px;
  }
}

#menu-toggle {
  display: none; /* Oculta el botón de menú por defecto en pantallas más grandes */
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
  color: #fefefe;
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  #header {
    padding: 10px 20px;
    justify-content: center;
    flex-direction: column;
  }

  #menu-toggle {
    display: block; /* Muestra el botón de menú en pantallas más pequeñas */
  }

  .title-first-name {
    font-size: 30px;
    margin-top: 10px;
  }

  .navbar-menu {
    display: none; /* Oculta el menú en pantallas más pequeñas por defecto */
    margin-top: 10px;
  }

  .navbar-menu.active {
    display: flex; /* Muestra el menú cuando el botón de menú se hace clic */
    flex-direction: column;
  }

  .navbar-menu li {
    padding: 10px 0;
  }

  .social-media {
    margin-top: 20px;
  }
}